@define-color base00 #2E3440;
@define-color base01 #3B4252;
@define-color base02 #434C5E;
@define-color base03 #4C566A;
@define-color base04 #D8DEE9;
@define-color base05 #E5E9F0;
@define-color base06 #ECEFF4;
@define-color base07 #8FBCBB;
@define-color base08 #BF616A;
@define-color base09 #D08770;
@define-color base0A #EBCB8B;
@define-color base0B #A3BE8C;
@define-color base0C #88C0D0;
@define-color base0D #81A1C1;
@define-color base0E #B48EAD;
@define-color base0F #5E81AC;

* {
    border: none;
    min-height: 0;
    font-family: "JetBrains Mono";
    font-weight: 500;
    font-size: 14px;
    padding: 0;
    border-radius: 3px;
}

window#waybar {
    background: @base00;
    border: 2px solid @base03;
}

tooltip {
    background-color: @base01;
    border: 2px solid @base03;
}

#clock,
#tray,
#cpu,
#memory,
#custom-notification,
#pulseaudio {
    color: @base06;
    background-color: @base02;
    border: 2px solid @base03;
    margin: 6px 6px 6px 0px;
    padding: 2px 8px;
}

#custom-notification {
    padding: 8px 12px;
}

#workspaces {
    background-color: @base02;
    margin: 6px 0px 6px 6px;
    border: 2px solid @base03;
}

.modules-left #workspaces button {
    all: initial;
    min-width: 0;
    box-shadow: inset 0 -3px transparent;
    padding: 5px 10px;
    margin: 0px;
    color: @base06;
    border-radius: 3px;
}

.modules-left #workspaces button.active {
    background-color: @base0D;
    padding: 5px 10px;
}

#workspaces button.focused {
    color: @base0A;
}

#workspaces button.urgent {
    background-color: @base09;
}

